.review_container {
  display: flex;
  margin-bottom: 22px;
}

.text_secondary {
  margin-bottom: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;

  /* Kisaan Text Color */

  color: #212121;
}
.see_more_btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  letter-spacing: -0.015em;

  /* Kisaan Links Color */

  color: #0061a8;
  cursor: pointer;
  transition: 0.3s;
}
.see_more_btn:active {
  text-decoration: underline;
}

.profile_pic {
  border-radius: 50%;
  margin-right: 12px;
}

.username {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;

  /* Kisaan Dark Brown */

  color: #672900;
}

.review_heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;

  /* Kisaan Dark Brown */

  color: #672900;
}
