.c{
    width: 366px;
    height: 366px;
    margin-top: 15px;
    margin-left: 15px;
    /* background-color: rgb(218, 29, 60); */
    border-radius: 20px;
    border: 1px dashed #9C9C9C;
    
}
.c3{
    height: 366px ;
    width: 366px;
    background-color: #FFFF;
    border: 1px solid#CEEAC6;;
    box-sizing: border-box;
    background: #F8FFF5;
    border-radius: 20px;
}

.c1{
    width: 100%;
    height: 100%;
    background-color: #FFFF;
    padding-bottom: 30px;
    margin-top: 47px;
}


.add_address{
    margin-top: 129px;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: -0.015em;
    /* color: #878787; */
    color: #F6F6F6;
    border-radius: 9px;
    


}
.subHeading{
width: 148px;
height: 17px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 16px;
letter-spacing: -0.015em;
color: #878787;
}
.compoHeader{
width: 364px;
height: 68px;
left: 537px;
top: 345px;

background: #F6F6F6;
border-radius: 19px 19px 0px 0px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.compoHeader:hover{
    background-color: #CEEAC6 ;
}
.userName{
    margin-top: 19px;
    margin-left: 22px;
}
.default_tag{
width: 85px;
height: 37px;
margin-top: 16px;
margin-right: 22px;
background:#FFFF;
border-radius: 8px;
align-items: center;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 13px;
letter-spacing: 0.015em;
color: #757575;
text-align: center;

}
.defaultText{
    margin-top: 9px;
}
.details{
    width: 192px;
height: 135px;
background-color: #F8FFF5;
margin-left: 22px;
margin-top: 35px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
letter-spacing: -0.015em;
color: #575757;

}
.hotLink1{
    width: 210px;
    height: 20px;    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #2776AF;
    margin-left: 18px;
    margin-top: 11px;
}
.Buttons{
    /* background-color: red; */
    width: 336px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;;
    margin-left: 11px;
    display: flex;
    justify-content: space-between;
}
.button1{

    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 147px;
    height: 40px;
    background: #F5F5F5;
    border: 1px solid #C1E4B8;
    box-shadow: 0px 3px 4px #B1CCAE;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;   
    align-items: center;
    letter-spacing: -0.015em;
    
    color: #5E5E5E;
}
.headTag{
    width: 202px;
    height: 32px;    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #672900;
    margin-top: 135px;
    margin-left: 135px
}
.popup{
    width: 200pxpx;
    height: 100px;
    background-color: red;
}



.maindiv{
 width: 730px;
 height: 553px;
 background-color: red;
}