.main{
    display: flex;
    width: 1357px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
}

.heading{
    width: 382px;
    height: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    font-size: 26px;
    color: #672900;
    margin-left: 53px;
}

.text{
    margin-top: 4px;
    width: 66px;
    height: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #0061A8;
}